@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #000000;
  --filer-color: #181818;
  --card-color: #1e1e1e;
  --dashboard-color: #2c2c2c;
  --border-color: #4c4c4c;
  --light-color: rgb(41, 41, 41);
  --blue-color: #5500f7;
  --light-blue-color: #ddcbff;
  --text-color: white;
  --text-light-color: #b3b3b3;
  --font-size-00: 0.75rem;
  --font-size-0: 0.875rem;
  --font-size-1: 1rem;
  --font-size-2: 1.125rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 1.75rem;
  --font-size-6: 2rem;
  --font-size-7: 2.25rem;
  --font-size-8: 2.5rem;
}

.dark {
  --bg-color: #000000;
  --filer-color: #181818;
  --card-color: #1e1e1e;
  --dashboard-color: #2c2c2c;
  --border-color: #4c4c4c;
  --light-color: rgb(34, 34, 34);
  --text-color: white;
  --secondary-text-color: black;
}

.light {
  --bg-color: #ffffff;
  --filer-color: #d1d1d1;
  --card-color: #ebebeb; 
  --dashboard-color: #ebebeb;
  --border-color: #cccccc;
  --light-color: rgb(196, 196, 196);
  --text-color: black;
  --secondary-text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: 300;
  font-size: var(--font-size-1);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(168, 168, 168);
}

a {
  color: var(--text-light-color);
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: var(--text-color);
}

.bg-color {
  background-color: var(--bg-color);
}

.card-color {
  background-color: var(--card-color);
}

.text-light-color {
  color: var(--text-light-color);
}

.secondary-text-color{
  color: var(--secondary-text-color);
}

.bg-light {
  background-color: var(--light-color);
}

.bg-blue {
  background-color: var(--blue-color);
}

.bg-light-blue {
  background-color: var(--light-blue-color);
}

.logo-size {
  width: 200px;
  /* height: 200px; */
}

.container {
  max-width: 1200px;
  background-color: red;
}

.divider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider::after {
  content: "";
  width: 42%;
  position: absolute;
  height: 1px;
  background-color: var(--border-color);
  left: 0;
}

.divider::before {
  content: "";
  width: 42%;
  position: absolute;
  height: 1px;
  background-color: var(--border-color);
  right: 0;
}

.bg-filter {
  background-color: var(--filer-color);
}

.nav__link:hover {
  background-color: var(--filer-color);
}

select{
  outline: none;
  border: 1px solid var(--border-color);
}

textarea{
  outline: none;
  border: 1px solid var(--border-color);
  background-color: var(--card-color);
  padding: 5px 5px;
  font-size: 0.8rem;
  width: 100%;
  border-radius: 5px;
}

input{
  border: 1px solid var(--border-color);
}
